{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="color">

        <div class="register-container">

            <h1>Je suis nouveau client !</h1>

            {{ form_errors(registrationForm) }}
            {{ form_start(registrationForm) }}
            
                <div class="form-group">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {
                        attr: {class: 'form-control product-select-register'}
                    }) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword, {
                        attr: {class: 'form-control product-select-register'}
                    }) }}
                </div>
                
                <div class="form-group">
                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_widget(registrationForm.agreeTerms) }}
                </div>
                
                <button type="submit" class="btn btn-primary product-select-register">Register</button>
            {{ form_end(registrationForm) }}
        </div>

    </div>

{% endblock %}
